.app_portfolio {
  .app_portfolio_block {
    position: relative;

    .app_portfolio_img {
      display: flex;
      align-items: center;
      flex-direction: column;

      img {
        height: 450px;
      }
    }

    .app_portfolio_texte {
      font-size: 1.5rem;
      position: absolute;
      left: 0px;
      right: 280px;
      top: 244px;
      text-align: center;
    }

    .app_portfolio_btn {
      position: absolute;
      left: 0;
      right: 0;
      top: 300px;
      text-align: center;

      a {
        text-decoration: none;
        color: black;
      }

      button {
        padding: 10px;
        background: white;
        font-weight: bold;
        letter-spacing: 0.1rem;
        width: 200px;
        border-radius: 20px;
        color: black;
        cursor: pointer;
      }
    }

    @media screen and (max-width: 950px) {
      .app_portfolio_img {
        img {
          height: 350px;
        }
      }
      .app_portfolio_texte {
        font-size: 1.2rem;
        left: 70px;
        top: 190px;
      }
      .app_portfolio_btn {
        top: 230px;
      }
    }

    @media screen and (max-width: 800px) {
      .app_portfolio_img {
        img {
          height: 280px;
          margin-left: -15px;
        }
      }
      .app_portfolio_texte {
        font-size: 1.1rem;
        left: 110px;
        top: 150px;
      }
      .app_portfolio_btn {
        top: 185px;
      }
    }

    @media screen and (max-width: 660px) {
      .app_portfolio_img {
        img {
          width: 500px;
          height: 100%;
          margin-left: 5px;
        }
      }
      .app_portfolio_texte {
        left: 85px;
        top: 133px;
        margin: auto;
        width: 220px;
      }
      .app_portfolio_btn {
        top: 170px;
      }
    }

    @media screen and (max-width: 440px) {
      .app_portfolio_texte {
        left: 15px;
        top: 133px;
        margin: auto;
        width: 220px;
      }
    }
  }
}
