.app_selimovic_presentation {
}

.app_selimovic_quisuisje {
  display: flex;

  article {
  }

  .app_selimovic_quisuisje_img {
    display: flex;
    align-items: start;
    opacity: 0;

    img {
      width: 400px;
      margin-top: -1rem;
    }
  }

  @media screen and (max-width: 1000px) {
    display: block;

    .app_selimovic_quisuisje_img {
      justify-content: center;
    }
  }
}
