.app {
  color: var(--white-color);
  background: var(--black-color);
}

.logo-dimension {
  width: var(--size-logo);
}

.app-block {
  overflow: hidden;
  padding: 4rem;
  padding-top: 12rem;
  padding-bottom: 0rem;
  min-height: 50vh;
  border: 1px solid red;
}

.head-text {
  font-family: folsom-black;
  font-size: 2.5rem;
  padding-bottom: 10px;

  span {
    background: var(--white-color);
    color: var(--black-color);
    padding-bottom: 6px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

article {
  font-size: 1.1rem;

  p {
    padding-top: 2rem;
  }
}

.jump {
  padding-top: 3rem;
}

.center {
  text-align: center;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.hideElement {
  visibility: hidden;
}
