.app {
  color: var(--white-color);
  background: var(--black-color);
}

.logo-dimension {
  width: var(--size-logo);
}

.app-block {
  overflow: hidden;
  padding: 5rem;
  padding-top: 11rem;
  padding-bottom: 0rem;
  //border: 1px solid red;

  @media screen and (max-width: 950px) {
    padding: 3rem;
    padding-top: 6rem;
    padding-bottom: 0rem;
  }

  @media screen and (max-width: 600px) {
    padding: 2rem;
    padding-top: 5.5rem;
    padding-bottom: 0rem;
  }

  @media screen and (min-width: 1800px) {
    padding: 25rem;
    padding-top: 12rem;
    padding-bottom: 0rem;
  }

  @media screen and (min-width: 2300px) {
    padding: 35rem;
    padding-top: 12rem;
    padding-bottom: 0rem;
  }

  @media screen and (min-width: 2600px) {
    padding: 45rem;
    padding-top: 12rem;
    padding-bottom: 0rem;
  }

  @media screen and (min-width: 2900px) {
    padding: 55rem;
    padding-top: 12rem;
    padding-bottom: 0rem;
  }
}

.head-text {
  font-family: folsom-black;
  font-size: 2.5rem;
  padding-bottom: 10px;

  span {
    background: var(--white-color);
    color: var(--black-color);
    padding-bottom: 6px;
    padding-left: 5px;
    padding-right: 5px;
  }

  @media screen and (max-width: 600px) {
    font-size: 2rem;
  }
}

article {
  font-size: 1.4rem;

  p {
    padding-top: 2rem;
  }
}

.jump {
  padding-top: 3rem;
}

.center {
  text-align: center;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.hideElement {
  visibility: hidden;
}
