:root {
    --font-base: sans-serif;

    --black-color: black;
    --white-color: white;

    --size-img: 10rem;

    /** Gestion animation **/
    --page-loading-duration-first-anim: 2s;
    --page-loading-duration-second-anim: 3s;
    --page-loading-duration-total-anim: 5s;
    --opacity: 0;
}

* {
    padding: 0;
    margin: 0;
}